@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg {
  background-color:#0f0e13;
  background-image: 
  radial-gradient(at 0% 0%, hsla(223,5%,3%,1)  0, transparent 50%),
  radial-gradient(at 30% 0%, hsla(225,80%,30%,1)  0, transparent 50%),
  radial-gradient(at 70% 0%, hsla(225,69%,40%,1) 0, transparent 50%),
  radial-gradient(at 100% 0%, hsla(225,29%,20%,1) 0, transparent 50%);
}

.card-bg {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.open {
  display: flex;
}

.modal-content {
  background-color: rgba(61, 54, 161, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.close-button {
  flex: 1;
  margin-right: 5px;
}

.submit-button {
  flex: 1;
  margin-left: 5px;
}
.blue-input {
  border: 1px solid rgb(45, 45, 169);
  background-color: rgb(57, 57, 198); /* Blue background color */
  color: rgb(251, 251, 251); /* White text color */
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .spline-container {
    display: none; /* Hide the element on mobile devices */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;